body {
    background: linear-gradient(-45deg, #090c33, #113860, #008fbb, #3339a4);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 60%;
    }
    30% {
        background-position: 100% 60%;
    }
    100% {
        background-position: 0% 60%;
    }
}
